<div class='container'>

  <div class='row'>
    <header>Welcome Back bro.</header>
    <p>I'm awful with names, no offense. What's your name again?</p>
  </div>

<div class="row">
  <form id='login' action="/user" method="post">
    <label>Username</label><input id='userName' type="text" name="userName">
    <input type="submit">
  </form>
</div>

</div>
