<div class='container'>
  <div class='row'>
    <header id="header">
      <img id="logo" src="images/logo.jpeg">
      <h1>Welcome to Schypher</h1>
    </header>
  </div>


  <div class='row'>
  <section>
    <label>What would you like to Syphon?</label>
    <form action='/user/pockets' method='post'>
      <label for='pocketName'>Pocket Name</label>
      <input type='text' name='pocketName'>

      <label for='name'>Item Name</label>
      <input type='text' name='itemName'>

      <label for='url'>Item Link</label>
      <input type='url' name='link'>
    </form>
  </section>
</div>

<div class='row'>
  <div class='col-sm-4 col-offset-1'>
    <div id='pockets'>Pockets</div>
  </div>
  <div class='col-sm-4 col-offset-2'>
    <div id='contents'>Pocket Contents</div>
  </div>




<footer id="foot">

</footer>
</div>
