<div class='container'>
  <div class='row'>
    <header id="header">
      <img id="logo" src="images/logo.jpeg">
      <h1>Welcome to Schypher</h1>
    </header>
  </div>


  <div class='row'>
  <section>
    <label>What would you like to Syphon?</label>
    <form action='/user/pockets' method='post'>
      <label for='pocketName'>Pocket Name</label>
      <input type='text' name='pocketName'>

      <label for='name'>Item Name</label>
      <input type='text' name='itemName'>

      <label for='url'>Item Link</label>
      <input type='url' name='link'>

      <input type='submit' value='Syphen'>
    </form>
  </section>
</div>

<div class='row'>
  <header>Your Stuff</header>
  <div class='col-sm-4 col-offset-1'>
    <div id='pockets'>
      <h2>Pockets</h2>
      {{#each user.pockets as |pocket|}}
        <div class='row'><a href="#">{{pocket}}</a></div>
      {{/each}}
    </div>
  </div>
  <div class='col-sm-4 col-offset-2'>
    <div id='pocketContents'>
      <h2>Pocket Contents</h2>
      <h3 id='currentPocket'></h3>
    </div>
  </div>




<footer id="foot">

</footer>
</div>
